body{
  background-color: black;
}

.app {
  display: flex;
}

.container {
  background: url("../images/pokedex.jpg") black;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pokemonImg{
  width: 300px;
  margin-top: 300px;
  margin-left: 60px;
}
#name {
  width: 350px;
  margin-left: 40px;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
}

.pokeContainer {
  width: 50%;
  background: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeList {
  border:3px solid black;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  width: 500px;
}

.pokeOption {
  margin:10px; 
  padding:5px; 
  cursor:pointer; 
  border:2px solid yellow;
  background-color: black;
  color: white;
}