* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #1a1a1a;
}

h1 {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.app {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

form {
  background: #4b7bec;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  max-width: 34.375rem;
  margin: auto;
  padding: 0.625rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
}

.row > label {
  display: flex;
  flex: 1;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  margin-left: 1.25rem;
  align-items: center;
}

span {
  margin-bottom: 0.3125rem;
  color: #fff;
}

input {
  padding: 0.625rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 3.4375rem;
  border: none;
  border-radius: 0.3125rem;
}

.container-buttons {
  display: flex;
  /* flex: 1; */
  margin-top: 0.9375rem;
  justify-content: center;
  gap: 0.625rem;
  flex-wrap: wrap;
}

button {
  height: 3.125rem;
  width: 15.625rem;
  background: #fff;
  border: none;
  border-radius: 0.125rem;
}

button:last-child {
  background: transparent;
  border: 0.0625rem solid #fff;
  color: #fff;
}

ul {
  margin: auto;
  list-style: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  padding: 0.3125rem;
  overflow-y: scroll;
}

li {
  background: #f0f0f0;
  margin: 0.125rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-buttons {
  display: flex;
  gap: 0.3125rem;
}

p {
  font-weight: 300;
}