.content-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: center;
    background-color: white;

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }
}