.comments-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    text-align: justify;

    button {
        align-self: flex-end;
        text-decoration: none;
        text-align: center;
        padding: 5px 10px;
        background-color: #668AED;
        width: 100px;
        color: white;
        border: none;
    }

    button:hover {
        cursor: pointer;
    }


    .comments-user-info {
        display: flex;
        align-items: center;
        gap: 25px;

        h3 {
            font-size: 15px;
        }

        img {
            width: 70px;
            border-radius: 50%;
        }

        small {
            display: inline-flex;
        }
    }
}