.blog-layout-main {
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        background-color: #203A6E;
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 50px;
            color: white;
        }
    }


    .blog-layout-nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 80px;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: #AFC1F0;

        a {
            text-decoration: none;
            color: #656870;
            font-weight: 600;
            font-size: 20px;
        }

        li:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    footer {
        height: 70px;
        background-color: #203A6E;
    }
}