.card-container {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #506CBA;
    height: 500px;
    padding: 25px;
    color: white;
    text-decoration: none;
    transform: scale(1);
    transition:  ease 1s;

    .card-icons {
        text-align: center;
        letter-spacing: 15px;
    }

    .card-text {
        height: 400px;

        small {
            padding: 5px;
            display: block;
            text-align: right;
        }

        h3 {
            font-size: 30px;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.658);
        }
    }
}

.card-container:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition:  ease 1s;
}
