.offer-card {
    width: fit-content;
    border-radius: 12px;
    background-color: #151515;

    .offer-card-image {
        // width: 25%;
        display: block;
        border-radius: 12px 12 0 0;
    }

    .offer-card-text {
        // width: 75%;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        padding: 24px;

        .offer-card-lines {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .offer-card-title {
                font-size: 1.5rem;
            }

            .old-price {
                color: #ffffff33;
                text-decoration: line-through;
            }
        }

        .offer-card-prices {
            .square-card-categories {
                color: #ffffff33;
            }

            .new-price {
                font-size: 2rem;
                font-weight: 700;
                color: #ff7a00cc;
            }
        }
    }
}